			<!-- <label for="songChoice">Song: </label>
			<form method="POST" action="/pickSong">
				<select name="songChoice">
					<% for (var i = 0 ; i < songList.length ; i++) { %>
						<option value="<%= songList[i] %>"><%= songList[i] %></option>

					<% } %>
				</select>
				<button type="submit">Sing this!</button>
			</form> -->
			<form method="POST" action="/whosSinging">
			<label for="singerList" class="title">Song: </label>
				<select id="songs" name="songChoice">
					<% for (var i = 0 ; i < songList.length ; i++) { %>
						<option value="<%= songList[i] %>"><%= songList[i] %></option>
					<% } %>
				</select><br />
				<label for="singerList" class="title">Who's singing: </label>
				<input type="text" class="namesInput" name="singerList" placeholder="Alice, Sage, Ginger">
				<input type="submit" class="button" value="Not throwin' away your shot!">
			</form>

			<!-- <label>How many people are singing?</label>
			<form method="POST" action="/numberOfSingers">
				<select name="numberOfSingers">
					<% for (var i = 1 ; i < numberOfCharacters+1 ; i++) { %>
						<option value="<%= i %>"><%= i %></option>

						<% } %>
					</select>
					<button type="submit">Let's go!</button>
				</form> -->
